<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":1578619391,
	"contentType":"story",
	"canonicalURL":"https:\/\/projects.seattletimes.com\/\/2020\/seahawks-packers-playoff-predictions",
	"domain":"www.seattletimes.com",
	"post_id":<%= json.project.post_id %>,
	"author":"<%= json.project.author %>",
	"publishdate":"2020-01-09 17:46:27",
	"modifieddate":"2020-01-09 17:56:27",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times staff",
	"tags":"",
	"categories":"",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"on",
	"section_tier1":"sports",
	"section_tier2":"seahawks",
	"sections_all":"seahawks|sports",
	"othersections":"",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 0,
	}];
</script>